body {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	margin: 0;
	overflow-x: hidden;
	padding: 0;
}
p {
	margin: 0px;
}
div {
	margin: 0;
	width: 100%;
}
/*-----------------------------------------------------------*/
/* Navigation bar */
#main_navbar .navbar-default, .dropdown-menu {
	background-color: #ededed;
	border-color: transparent;
	border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	/*text-align: center;*/
	height: 62px;
}
#main_navbar .navbar-toggle {
	background-color: #ededed;
	float: left;
	margin-left: 15px;
}
/* Navigation bar text colour, alignment, font size */
#main_navbar .nav > li a {
	color: #fff;
	text-align: center;
	font-size: medium;
}
.contain-nav {
	position: absolute;
	display: inline-block;
	text-align: center;
}
.collapse {
	width: 471px;
	margin: 0 auto;
	/*position: absolute;*/
}
.navbar-header {

}
.navbar-nav li {
	margin-top: 10px;
	width: 147px;
}
#main_navbar .navbar-nav li a {
	color: #000000;
	text-align: center;
	font-size: large;
	font-weight: 600;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color: #ededed;
	outline: none;
}
#main_navbar .navbar-nav li:hover:after {
	background: #FFFFFF;
	content: ' ';
	position: absolute;
	left: 37.4%;
	top: 85.3%;
	z-index: 1;
	height: 25px;
	width: 25px;
	-moz-box-shadow: inset -5px 5px 5px 0px #7a7a7a;
	-webkit-box-shadow: inset -5px 5px 5px 0px #7a7a7a;
	-o-box-shadow: inset -5px 5px 5px 0px #7a7a7a;
	box-shadow: inset 15px 15px 10px -19px #7a7a7a;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
.active:after {
	background: #FFFFFF;
	content: ' ';
	position: absolute;
	left: 37.5%;
	top: 85.5%;
	z-index: 1;
	height: 25px;
	width: 25px;
	-moz-box-shadow: inset -5px 5px 5px 0px #7a7a7a;
	-webkit-box-shadow: inset -5px 5px 5px 0px #7a7a7a;
	-o-box-shadow: inset -5px 5px 5px 0px #7a7a7a;
	box-shadow: inset 15px 15px 10px -19px #7a7a7a;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
/* Navigation bar border */
#main_navbar .navbar-default {
	box-shadow: 0 0 7px #888888;
}

.lang {
	display: inline-block;
	width: 170px;
}

.lang li {
	display: inline-block;
	float: none;
	border-left: solid;
	border-width: 0px;
}
.lang a {
	color: #000000;
	font-family: "Hiragino Kaku Gothic ProN";
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
}
.lang span, .land a.homenav {
	font-family: Helvetica;
	font-size: 12px;
}
.lang ul {
	margin: 0;
}
.login_Btn_container {
	overflow: hidden;
	float: right;
	display: inline-block;
	position: relative;
}
.login_Btn_container2 {
	display: none;
	overflow: hidden;
	float: right;
	width: 240px;
}
.login_Btn {
	float: right;
	color: #ffffff;
	background-color: #3c0505;
	border-radius: 6px;
	border: 0;
	font-size: large;
	padding: 0px 10px 5px 10px;
}
.login_Btn:link, .login_Btn:visited, .login_Btn:hover, .login_Btn:active, .login_Btn {
	color: #ffffff;
	text-decoration: none;
}

.content-container {
	text-align: center;
	margin-top: 10px;
}
/*news page*/
/*new add*/
.login_Btn_container {
	width: 251px;
	padding-top: 22px;
}
.lang ul {
	padding-left: 10px;
}
.news {
	display: inline;
}
.news a {
	color: #C43233;
	text-decoration: underline;
	font-size: large;
	font-weight: 600;
}
/*-----------------------------------------------------------*/
/* content start*/
.logo-color {
	color: #FF3E94;
}
.underline {
	text-decoration: underline;
}
#logo {
	margin-bottom: 77px;
	padding-top: 30px;
}
#logo img {
	height: auto;
	margin-bottom: 25px;
	width: 57%;
}
/*-----------------------------------------------------------*/
/*sentent and content-image start*/
.sentence {
	display: table;
	background: #ededed;
	height: 300px;
	padding: 0 10px;
}
.sentence .sentence-text {
	display: table-cell;
	vertical-align: middle;
}

.sentence .span-text-brand {
	color: #3b0404;
}
.sentence .span-text-mobile {
	color: #ff6699;
}
.sentence .span-text-second {
	margin-top: 68px;
	color: #ff6699;
}

/*-----------------------------------------------------------*/
/*solution*/
#solution {
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: table;
}
.solution-content {
	display: table-cell;
	vertical-align: middle;
}

#solution #demo_image {
	width:82vh;
}
@media only screen and (min-height:767px) {
	#solution #demo_image {
		width:109vh;
	}
}	
.red {
	color: #C2363F;
}
.yellow {
	color: #F6A031;
}
/*-----------------------------------------------------------*/
/*Content image*/
.content-image {
	background: url("../img/bg-content-image.gif") no-repeat scroll 0 0 /cover rgba(0, 0, 0, 0);
	display: table;
	position: relative;
	padding: 20px;
}
.content-text-image {
	display: table-row;
	vertical-align: middle;
}

.clear {
	clear: both;
}
/*-----------------------------------------------------------*/
/*sentent and content-image end*/
/*footer start*/
div.footer {
	text-align: center;
	display: table;
	position: relative;
	padding: 0 11px;
}
div.footer:after {
	background: url(../img/bg_footer.png) repeat #ffffff;
	opacity: 0.9;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	z-index: -1;
	content: "";
}
.footer h1 {
	color: #000000;
	display: inline-block;
	font-size: 71px;
	font-weight: bolder;
	margin-bottom: 3px;
	margin-top: 9px;
}
.footer ul {
	padding: 0;
	margin-bottom: 30px;
}
.footer li {
	list-style: none;
}
/*-----------------------------------------------------------*/
/*subscribe-form*/
.subscribe-form input[type=email] {
	width: 350px;
	height: 54px;
	border: solid 2px black;
	text-align: center;
	font-size: larger;
	margin: 25px 0;
}
.subscribe-form input[type=email]::-webkit-input-placeholder {
	color: black;
	opacity: 0.5;
}

.subscribe-form input[type=email]::-moz-placeholder {/* Firefox 19+ */
	color: black;
}

.subscribe-form input[type=email]:-ms-input-placeholder {
	color: black;
}

.subscribeBtn {
	display: block;
	/*margin-top: 26px;*/
	margin-bottom: 25px;
}
.subscribeBtn input[type=submit] {
	width: 117px;
	height: 40px;
	border: none;
	background: #C43233;
	border-radius: 10px;
	color: white;
}
.special-text{
	display: block;
}
	#logo p {
		font-size: 18pt;
		line-height: 55px;
		font-weight: bold;
		font-family: "Helvetica";
	}

	/*--------------------------sentence-------------------------------------*/
	.sentence .sentence-text p {
		color: #000000;
		font-family: Helvetica;
		/*font-size: 24pt;*/
		font-size: 16pt;
		line-height: 36px;
		font-weight: normal;
	}
	.sentence span {
		/*font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";*/
		font-family: "HelveticaNeue-CondensedBold","HelveticaNeueBoldCondensed","HelveticaNeue-Bold-Condensed","Helvetica Neue Bold Condensed","HelveticaNeueBold","HelveticaNeue-Bold","Helvetica Neue Bold","HelveticaNeue","Helvetica Neue","TeXGyreHerosCnBold","Helvetica","Tahoma","Geneva","Arial Narrow","Arial",sans-serif;
		font-stretch: condensed;
		font-size: 64pt;
		/*font-size: 72pt;*/
		line-height: 36px;
		font-weight: bold;
	}
			/*
	 *  -8pt
	 * 
	 * */
	.sentence .sentence-second-text {
		color: #000000;
		font-family: Helvetica;
		/*font-size: 24pt;*/
		font-size: 16pt;
		line-height: 36px;
		font-weight: normal;
		display: block;
	}
	
	span.sentence-special-text{
		font-size: 16pt;
		line-height: 12px;
		font-weight: normal;
		/*display: block;*/
		margin-top: 10px;
		font-family: "Helvetica";
	}

	/*--------------------------solution-------------------------------------*/
		/*
	 *  -12pt
	 * 
	 * */
	#solution p {
		/*font-size: 27px;*/
		font-family: Helvetica;
		/*font-size: 36pt;*/
		font-size: 24pt;
		line-height: 54px;
		font-weight: bold;
		/*width: 870px;*/
		margin: 0 auto;
		padding-bottom: 20px;
	}
		/*
	 *  -8pt
	 * 
	 * */
	#solution p.p-text-first {
		font-weight: normal;
		/*font-size: 32pt;*/
		font-size: 24pt;
		/*display: block;
		 width: 510px;
		 width: 790px;*/
	}

	/*--------------------------content image-------------------------------------*/
	.content-image p {
		font-family: Helvetica;
		color: #ffffff;
		margin-bottom: 100px;
	}
	.content-image .content-title {
		/*margin-top: 57px;*/
		margin-bottom: 45px;
		font-size: 64px;
		display: block;
		text-shadow: 0px 0px 11px white, 0px 0px 11px white, 0px 0px 11px white, 0px 0px 11px white, 0px 0px 15px white, 0px 0px 15px white, 0px 0px 15px white;
		color: #3D0103;
		font-weight: 600;
	}
	/*
	 *  -11pt
	 * 
	 * */
	.content-image p.p-text-second {
		/*font-size: 32pt;*/
		font-size: 21pt;
		line-height: 55px;
		font-weight: normal;
		max-width: initial;
		margin: 50px auto;
		display: block;
		width: initial;
	}

	/*------------------------------footer---------------------------------*/
	/*
	 *  -8pt
	 * 
	 * */
	.footer h1 {
		color: #000000;
		display: inline-block;
		/*font-size: 72pt;*/
		font-size: 64pt;
		font-weight: bold;
		margin-bottom: 3px;
		margin-top: 9px;
	}
	/*
	 *  -8pt
	 * 
	 * */
	.footer li a {
		color: #c43333;
		font-family: Helvetica;
		/*font-size: 28pt;*/
		font-size:20pt;
		font-weight: normal;
		/*line-height: 50px;*/
		text-decoration: underline;
	}
		/*
	 *  -6pt
	 * 
	 * */
	.subscribe-form p {
		font-family: Helvetica;
		/*font-size: 26pt;*/
		font-size: 20pt;
		/*margin-bottom: 3px;*/
		font-weight: normal;
	}
		/*
	 *  -7pt
	 * 
	 * */
	.footer .small {
		font-family: Helvetica;
		/*font-size: 18pt;*/
		font-size: 11pt;
		font-weight: normal;
		display: block;
		/*vertical-align: bottom;
		 position: relative;*/
		width: 720px;
		margin: 0 auto;
		/*text-align: center;*/
	}




/*------------------------------Text style---------------------------------*/
@media only screen and (min-width: 1040px) {
	/*-------------------------logo--------------------------------------*/
			/*
	 *  -4pt
	 * 
	 * */
	#logo p {
		/*font-size: 2vw;*/
		/*font-size: 25pt;*/
		font-size: 21pt;
		/*line-height: 55px;
		font-weight: bold;*/
		/*word-wrap: break-word;*/
		/*font-family: "Helvetica";*/
	}

	/*--------------------------sentence-------------------------------------*/
		/*
	 *  -4pt
	 * 
	 * */
	.sentence .sentence-text p {
		/*color: #000000;
		font-family: Helvetica;*/
		/*font-size: 24pt;*/
		font-size: 20pt;
		/*line-height: 36px;
		font-weight: normal;*/
	}
			/*
	 *  -4pt
	 * 
	 * */
	.sentence .span-text-brand, .sentence .span-text-mobile  {
		/*font-family: "HelveticaNeue-CondensedBold";*/
		font-size: 68pt;
		/*font-size: 72pt;*/
		/*line-height: 36px;
		font-weight: bold;*/
	}
			/*
	 *  -4pt
	 * 
	 * */
	.sentence .sentence-second-text {
		/*color: #000000;
		font-family: Helvetica;*/
		/*font-size: 24pt;*/
		font-size: 20pt;
		/*line-height: 36px;
		font-weight: normal;
		display: block;*/
	}
	span.sentence-special-text{
		font-size: 20pt;
	}
	/*--------------------------solution-------------------------------------*/
		/*
	 *  -6pt
	 * 
	 * */
	#solution p {
		/*font-size: 27px;*/
		/*font-family: Helvetica;*/
		/*font-size: 36pt;*/
		font-size: 30pt;
		/*line-height: 54px;
		font-weight: bold;*/
		/*width: 870px;*/
		/*margin: 0 auto;
		padding-bottom: 20px;*/
	}
		/*
	 *  -4pt
	 * 
	 * */
	#solution p.p-text-first {
		/*font-weight: normal;*/
		/*font-size: 32pt;*/
		font-size: 28pt;
		/*display: block;
		 width: 510px;
		 width: 790px;*/
	}

	/*--------------------------content image-------------------------------------*/
	/*.content-image p {
		font-family: Helvetica;
		color: #ffffff;
		margin-bottom: 100px;
	}*/
	.content-image .content-title {
		font-size: 64px;
		/*margin-top: 57px;*/
		/*margin-bottom: 45px;
		display: block;
		text-shadow: 0px 0px 11px white, 0px 0px 11px white, 0px 0px 11px white, 0px 0px 11px white, 0px 0px 15px white, 0px 0px 15px white, 0px 0px 15px white;
		color: #3D0103;
		font-weight: 600;*/
	}
	/*
	 *  -7pt
	 * 
	 * */
	.content-image p.p-text-second {
		/*font-size: 32pt;*/
		font-size: 25pt;
		/*line-height: 55px;
		font-weight: normal;
		max-width: initial;
		margin: 50px auto;
		display: block;
		width: initial;*/
	}

	/*------------------------------footer---------------------------------*/
	/*
	 *  -4pt
	 * 
	 * */
	.footer h1 {
		/*color: #000000;
		display: inline-block;*/
		/*font-size: 72pt;*/
		font-size: 68pt;
		/*font-weight: bold;
		margin-bottom: 3px;
		margin-top: 9px;*/
	}
	/*
	 *  -8pt
	 * 
	 * */
	.footer li a {
		/*color: #c43333;
		font-family: Helvetica;*/
		/*font-size: 28pt;*/
		font-size:20pt;
		/*font-weight: normal;*/
		/*line-height: 50px;*/
		/*text-decoration: underline;*/
	}
		/*
	 *  -6pt
	 * 
	 * */
	.subscribe-form p {
		/*font-family: Helvetica;*/
		/*font-size: 26pt;*/
		font-size: 20pt;
		/*margin-bottom: 3px;*/
		/*font-weight: normal;*/
	}
		/*
	 *  -7pt
	 * 
	 * */
	.footer .small {
		/*font-family: Helvetica;*/
		/*font-size: 18pt;*/
		font-size: 11pt;
		/*font-weight: normal;
		display: block;*/
		/*vertical-align: bottom;
		 position: relative;*/
		/*width: 720px;
		margin: 0 auto;*/
		/*text-align: center;*/
	}
}


/*-----------------------------------------------------------*/


/*
 * ------------------------------------------------
 *
 * */
@media only screen and (max-width: 1000px) {
	.collapse {
		margin-left: 0;
	}
	#solution #demo_image {
		/*width: 95%;
		 margin: 7vh 0;*/

		width: 84%;
		/*margin: 3vh 0;*/
	}
	/*#logo p {
		font-size: 2.5 vw;
	}*/
}
@media only screen and (max-width: 983px) {
	/*.collapse {
	 margin-left: 24%;
	 }*/
	.content-image .content-title {
		font-size: 8vw;
	}
}
@media only screen and (max-width: 902px) {
	/*.sentence .sentence-second-text {
		display: initial;
	}*/
	span.sentence-special-text{
		display: block;
	}
	.sentence{
		padding: 50px 10px;
	}
}
@media only screen and (max-width: 878px) {
	/*#solution p.p-text-first {
		width: auto;
	}*/

}
@media only screen and (max-width: 800px) {
	/*NavBar*/
	.special-text {
		display: initial;
	}
	.nav {
		background: #ededed;
	}
	.collapse {
		position: initial;
		width: 100%;
	}
	#main_navbar .navbar-default, .dropdown-menu {
		height: auto;
	}
	.active:after {
		display: none;
	}
	#main_navbar .navbar-nav li:hover:after {
		display: none;
	}
	.login_Btn_container {
		display: none;
	}
	.login_Btn_container2 {
		display: inherit;
		margin-top: 12px;
	}
	/*logo*/
	#logo p {
		font-size: 3.2vw;
		line-height: 35px;
	}
	/*Company session*/
	.sentence {
		padding: 0 10px;
	}
	.sentence .sentence-text p, .sentence .sentence-second-text {
		font-size: 19px;
		line-height: 25px;
		display: initial;
	}
	span.sentence-special-text{
		font-size: 19px;
		line-height: 25px;
		display: block;
	}
	.sentence .span-text-brand, .sentence .span-text-mobile  {
		font-size: 40px;
	}

	/*Solution Section*/
	#solution p {
		font-size: 29px;
		line-height: 40px;
	}
	#solution #demo_image {
		/*width: 95%;
		 margin: 7vh 0;*/

		/*width: 84%;
		margin: 3vh 0;*/
	}
	#solution p.p-text-first {
		font-size: 21px;
	}
}
@media only screen and (max-width: 682px) {
	.content-image p.p-text-second {
		width: auto;
	}
	.footer .small{
		width:auto
	}
	.special-text {
		display: initial;
	}
}
@media only screen and (max-width: 591px) {
	#logo p {
		font-size: 4vw;
		line-height: 35px;
	}
}
/*@media only screen and (max-width: 510px) {
	#solution p.p-text-first {
		width: auto;
	}
}*/
@media only screen and (max-width: 450px) {
	/*Logo Section*/
	#logo img {
		width: 88%;
	}
	#logo p {
		font-size: 17px;;
		line-height: 25px;
		font-weight: 400;
		padding: 0px 2px 0px 2px;
		display: block;
		width: 96%;
		margin: 0 auto;
	}

	/*Company session*/
	.sentence {
		padding: 30px 10px 30px 10px;
	}
	.sentence .sentence-text p, .sentence .sentence-second-text {
		font-size: 15px;
		line-height: 25px;
		display: initial;
	}
	span.sentence-special-text{
		font-size: 15px;
		line-height: 25px;
		display: block;
	}
	/*.sentence span{
	 font-size:40px;
	 }*/

	/*Solution Section*/
	#solution p {
		font-size: 19px;
		line-height: 28px;
	}
	#solution #demo_image {
		width: 94%;
		/*height: 21%;*/
		margin: 50px 0;
	}
	#solution p.p-text-first {
		font-size: 19px;
	}
	/*Content*/
	/*.content-image{
	 padding: 71px 0;
	 }*/

	.content-image p.p-text-second {
		font-size: 20px;
		line-height: 34px;
	}
	.content-image .content-title {
		font-size: 30px;
		margin: 0;
		margin-bottom: 30px;
	}

	/*Contact*/
	.footer h1 {
		font-size: 40px;
	}
	.footer li a {
		font-size: 18px;
		line-height: 34px;
	}
	.footer ul {
		margin-bottom: 10px;
	}
	.subscribe-form p {
		font-size: 14px;
	}
	.subscribe-form input[type=email] {
		width: 70%;
		height: 43px;
		margin: 20px 0;
	}
	.subscribeBtn {
		/*margin: 20px 0;*/
	}
	.subscribeBtn input[type=submit] {
		width: 117px;
	}
	.footer .small {
		font-size: 8pt;
		width: auto;
		/*width: 84%;*/
	}
	.special-text{
		display: initial;
	}
	.company-name{
		white-space: nowrap;
	}
}
@media only screen and (max-width: 320px) {
	body {
		width: 320px;
	}
	.sentence span {
		font-size: 34px;
	}
	.content-image {
		padding: 20px 9px;
	}
	#solution #demo_image{
		margin:25px 0;
	}

}

